.top-header {
    @include font-size('small');
    background-color: $c-secondary;
    color: #fff;
    font-weight: 300;
    line-height: 30px;
}
.toggle-language {
    margin-left: auto;
    font-size: 11px;
    a {
        color: #fff;
        &.is-actived {
            color: $c-main-lighten;
        }
    }
}

.logged {
    a {
        font-size: 11px;
        margin-left: $space-small;
        color: $c-main-lighten;
        text-transform: uppercase;
    }
}

.main-header {
    min-height: $height-header;
    box-shadow: rgba(0 ,0,0,.15) 0 2px 4px;
    z-index: 1;
    position: relative;

    &__logo {
        display: flex;
        align-items: center;
        padding: 0 $space;
        height: $height-header;
        margin-right: auto;
    }

    &__navigation-mobile {
        a {
            display: flex;
            align-items: center;
            height: $height-header;
            border-right: 1px solid $c-secondary-lighten;
            padding: 0 $space;
        }
    }
}