// box sizing
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

svg {
  vertical-align: middle;
}

// images
img,
video {
  vertical-align: middle;
  border: none;
  max-width: 100%;
  height: auto;
}

a {
  color: $c-link;
  text-decoration: none;
}

nav ul {
  margin: 0;
  list-style: none;
}
nav li {
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $f-family;
  line-height: $f-line-height;
  text-rendering: optimizeLegibility;
  color: $c-text;
}

// forms
button,
input,
select,
optgroup,
textarea {
  color: inherit;
  font-family: inherit;
  font-weight: 400;
  font-size: 100%;
  line-height: $f-line-height;
  text-rendering: inherit;
}

button {
  cursor: pointer;
}

// margins
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
p,
ul,
ol,
blockquote {
  margin-top: 0;
  margin-bottom: ($f-line-height * 1em);
}

ul,
ol {
  margin-top: 0;
  margin-left: 2em;
}
li {
  margin-bottom: 0.2em;
}

ul,
ol,
p {
  + h2,
  + h3,
  + h4 {
    padding-top: 1em;
  }
}
