

.reset-list {
    margin: 0;
    list-style: none;
}
.text-small {
    @include font-size('small');
}
/* desktop & mobile*/ 
.show-in-desktop {
    display: none;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
// Desktop 
@include in-desktop {
    .text-right-in-desktop {
        text-align: right;
    }   
    .show-in-mobile {
        display: none;
    }
    .show-in-desktop {
        display: block;
    }
}


.space {
    height: $space *2;
}

.slipt-words {
    margin-left: $space-small;
    margin-right: $space-small;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    
    &:focus {
        background-color: #fff;
        border-radius: $border-radius;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
        clip: auto !important;
        color: $c-text;
        display: block;
        font-weight: 700;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 2;
    }
}
