


@mixin button-reset {
    // button
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    //a 
    display: inline-block;
    text-align: center;
    text-decoration: none;
}



.button {
    @include button-reset;
    letter-spacing: 0.3px;
    border: solid 1px transparent;
    border-radius: $border-radius;
    padding-left: .8rem;
    padding-right: .8rem;
    line-height: 2.1rem;
    background-image: 
      linear-gradient(#FCFCFE, #E5E8ED),
      linear-gradient(178deg, #E5E8EC,#A0A7B1);
  
    
    background-origin: border-box;
    background-clip: padding-box, border-box;
  
    box-shadow: rgba(#2b2d30, 0.12) 0 1px;
    outline: none;

    &:focus {
      background-image: 
        linear-gradient(#FCFCFE, #E5E8ED),
        linear-gradient(178deg,  $c-main, $c-main);
    
      box-shadow: rgba($c-main, 0.4) 0 1px 2px;
    }
  
    &:active {
      box-shadow: inset rgba(#2b2d30, 0.06) 0 5px 15px;
      background-image: 
        linear-gradient(#DEE1E6, #DEE1E6),
        linear-gradient(178deg, #A0A7B1, #C8CBCF);
      filter: saturate(150%);
    }

}