.button {
    text-decoration: none;
    display: inline-block;
    padding: 0 $fields-padding;
    color: #fff;
    background-color: $c-main;
    border-radius: $border-radius;
    text-transform: uppercase;
    line-height: $fields-height;
    @include font-size('small');
    letter-spacing: 1px;
    text-shadow: rgba(0,0,0,.17) 0 1px;
    border:0;
    box-shadow: rgba(0,0,0,.18) 0 2px 3px; 
    transition: background .25s;
    &:focus, &:hover  {
        outline: 0;
        background-color: $c-main-light;
    }
    &:active {
        transition: none;
        background-color:$c-main;
    }
}

.icon-button {
    $size: 36px;
    background-color: transparent;
    border: 0;
    width: $size;
    height: $size;
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
    &--arrow-left {
        background-image: url('../img portal/i-arrow-left.svg');
    }
    
    &--arrow-right {
        background-image: url('../img portal/i-arrow-right.svg');
    }

    &:disabled {
        opacity: .4;
    }
}