/** 
 * Course card
*/
.curso-card {
    display: inline-block
}
.wrap-preview-video {
    height: 100%;
}
.curso-card {
    width: 256px;
    max-width: 256px;
    margin-right: 15px;
    height: auto;
    box-shadow: rgba(0,0,0,.2) 0 2px 5px;
    background-color: #fff;
    vertical-align: top;
    text-align: left;
    transition: box-shadow .2s;
}

.curso-card:hover {
    box-shadow: rgba(0,0,0,.2) 0 4px 12px
}

.curso-card-header {
    height: 149px;
    background-color: $c-secondary;
}

.curso-card-nom {
    margin-bottom: $space;
    @include font-size(2);
    color: $c-text;
    line-height: 1.25;
}

.curso-card-fam {
    font-weight: 700;
    @include font-size('small');
    margin-bottom: .25em;
}

.curso-card-duracion {
    color: $c-secondary-light;
    font-weight: 700;
    @include font-size('small');
}
