/**
 * Table of contents
 * -----------------------------------------
 *  - Desktop Navigation
 *  - Breakbrumbs
 *  - Mobile Navigation offcanvas
 *  - Menu inside offcanvas
 * 
*/

/** 
 * Desktop navigation
*/
.navigation {
  ul {
    display: flex;
    justify-content: flex-end;
  }
  a {
    display: block;
    line-height: $height-header;
    padding-left: $space-small;
    padding-right: $space-small;
    text-transform: uppercase;
    font-size: 13px;
    color: $c-text;
    @include in-breakpoint("l") {
      padding-left: $space;
      padding-right: $space;
    }
  }
  .main-button-navigation {
    background-color: $c-main-light;
    color: #fff;
  }
}

/**
 * Breakcrumbs
*/
%text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  max-width: 220px;
}
.breakcrumbs {
  padding: 2.5rem 0;
  background-color: $c-secondary-lighten;
  @include font-size("small");

  &__current {
    vertical-align: middle;
    @extend %text-ellipsis;
  }
  a {
    @extend %text-ellipsis;
    color: $c-text;

  }
  &__current,
  a:not(:first-of-type) {
    padding-left: $space;
    position: relative;
    &::before {
      content: "/";
      position: absolute;
      left: 6px;
      color: $c-secondary-light;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

/**
 * Mobile menu offcanvas
*/

// Settings
$canvas-background: rgba(0, 0, 0, 0.68);

// Classes mobile menu offcanvas
.c-offcanvas {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.c-offcanvas,
.c-offcanvas-content-wrap,
.c-offcanvas-bg.c-offcanvas-bg--reveal,
.c-offcanvas-bg.c-offcanvas-bg--push {
  transition: transform 300ms cubic-bezier(0.4, 0, 0.6, 1);
}

.c-offcanvas.is-open {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}

.c-offcanvas-content-wrap {
  z-index: 3;
}

.c-offcanvas {
  position: fixed;
  min-height: 100%;
  max-height: none;
  top: 0;
  display: block;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

.c-offcanvas--opening {
  transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

.c-offcanvas.is-closed {
  max-height: 100%;
  overflow: hidden;
  visibility: hidden;
  box-shadow: none;
}

.c-offcanvas--overlay {
  z-index: 1080;
}

.c-offcanvas--reveal {
  z-index: 2;
}

/**
 * Offcanvas BG-Overlay
*/
.c-offcanvas-bg {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1079;
  left: -100%;
  background-color: transparent;
  transition: background-color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.c-offcanvas-bg.is-animating,
.c-offcanvas-bg.is-open {
  left: 0;
  background-color: $canvas-background;
  visibility: visible;
}
.c-offcanvas-bg.is-closed {
  visibility: hidden;
}
.c-offcanvas-bg--closing.is-animating {
  background: transparent;
}

/**
 * Position Left
*/
.c-offcanvas--left {
  height: 100%;
  width: 76vw;
  max-width: 310px;
  transform: translate3d(-76vw, 0, 0);
}

/**
 * Menu inside offcanvas
*/
.mobile-menu {
  padding-top: $space * 2;

  li {
    padding: $space-small 0;
    a:not(.button) {
      color: $c-text;
    }
  }
  ul {
    margin-bottom: $space;
  }
}

.mobile-logged {
  border-top: 1px solid $c-secondary-lighten;
  padding-top: $space;

  a {
    @include font-size("small");
  }
}
