.sidebar{
    will-change: min-height;
    margin-bottom: $space;
    h2 {
        display: none;
    }
    &.is-affixed h2 {
        display: block;
        @include font-size(3);
        margin-bottom: $space;
    }
}

.inner-wrapper-sticky {
    transition: all .3s;
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
    @include in-desktop {
        padding: $space;
        border: 1px solid $c-secondary-lighten;
        box-shadow: rgba(0, 0, 0, .25) 0 8px 18px -5px;
        align-self: flex-start;
    }
}

.course-details {
    padding: 0 0 $space;

    li {
        padding: .4em 0;
        img {
            vertical-align: middle;
            margin-right: .6em;
            margin-top: -.2em;
        }
    }
}