/** 
 * Buscador 
*/
.hero-search {
    background-color: $c-secondary-lighten;
    padding: $space 0;
    display: flex;
    align-items: center;
    min-height: 200px;
    @include in-desktop {
        background-image: url('../img portal/header-catalog-desktop-axxon.jpg');
        background-size: cover;
        min-height: 250px;
    }
    h1 {
        @include font-size(5);
        margin-bottom: .4em;
    }
}
.field-search {
    display: flex;
    box-shadow: rgba(0, 0, 0, .2) 0 5px 15px -3px;
    position: relative;
    input[type="search"] {
        border: 0;
        height: 53px;
        &::-webkit-search-cancel-button {
            display: none;
        }
    }
    button {
        background: transparent;
        border: 0;
        padding: 0 10px;
        color: $c-main;
        cursor: pointer;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        transition: all.3s;
        border-radius: 0 $border-radius $border-radius 0;
        outline: 0;
        svg {
            fill: currentColor;
        }
        &:hover, &:focus {
            background: $c-main;
            color: #fff;
        }
    }
}

/**
 * Copiado desde adrformacion.com
 */
.isDragable {
    cursor: move;
    cursor: grab;
    cursor: -webkit-grab
}

.isDragable:active {
    cursor: grabbing;
    cursor: -webkit-grabbing
}

.dragging,.dragging * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.row-catalog__family {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding-bottom: $space;
    margin-bottom: $space * 2;
}

.row-catalog__family::after {
    min-width: 10px;
    content: "";
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.row-catalog__family {
    padding-left:$space;
}
@media(min-width: 1178px) {
    .row-catalog__family {    
       padding-left: calc((100vw - 1178px) / 2 + 12px);
    }

    .row-catalog__family::after {
        width: calc((100vw - 1178px) / 2);
    }
}
@media(min-width: 1600px) {
    $space-carrousel: (1600px - 1178px ) / 2 + 21px;
    .row-catalog__family {    
       padding-left: $space-carrousel;
    }
    .row-catalog__family::after {
        width: (1600px - 1178px ) / 2
    }
}


.row-catalog__course {
    flex-shrink: 0;
    width: 180px
}

.curso-card-body {
    padding: 10px 9px
}

@include in-breakpoint('m') {
    .row-catalog__course {
        width:230px
    }

    .curso-card-body {
        padding: 11px 13px
    }

    .curso-card {
        margin-right: $space;
    }
}

@include in-breakpoint('l') {
    .row-catalog__course {
        width:256px
    }
    .curso-card-body {
        padding: $space
    }
}


/** 
 * Custom catalogo para el portal
*/
.family-course-name {
    @include font-size(2);
    color: $c-text;
}
.family-course-num {
    @include font-size('small');
    padding: 0 $space-small;
    line-height: 20px;
    background-color: $c-secondary-lighten;
    border-radius: 20px;
    color: $c-secondary;
    margin-left: $space-small;
}
.header-family-course a {
    display: inline-flex;
    align-items: baseline;
}
.row-catalog__btns {
    transform: translateY(-3px);
}

.header-family {
    margin-bottom: $space-small;
}

.curso-card-header {
    overflow: hidden;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        max-width: none;
    }
}

/** 
 * resultados del buscadro
*/
.wrap-resultado-family {
    display: flex;
    flex-wrap: wrap;

    .curso-card {
        margin: 0 0 $space $space;
        width: 250px;
        a {
            display: block;
        }
    }
}

@supports(display: grid) {
    .wrap-resultado-family {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        grid-gap: $space;
        
        .curso-card {
            margin: 0;
            width: 100%;
            max-width: none;
        }
    }
}

.search-results {
    margin-bottom:$space;
}

/** 
 * Páginación de resultados
*/
.pagination {
    display: flex;
    margin-top: $space;
    padding: $space 0;
    line-height: 20px;
    .current, .disabled, a {
        padding: 10px 14px;
    }
    .disabled {
        opacity: .4;
    }
    .current {
        font-weight: 700;
        box-shadow: $c-main 0 -3px;
    }
    a {
        display: block;
        color: $c-text;
    }
    .pagination-next, 
    .pagination-previous {
        @include font-size('small');
    }
}

